
.burger-cont{
    width: 20px; 
    height: 20px;
    padding: 0.3em; 
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.burger-cont > span{
    width: 80%;
    height: 4px; 
    background-color: rgb(129, 121, 244);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}


/* .burger-cont.active span:nth-child(1) {
    transform: translateY(7px) rotate(40deg);
  }
  
  .burger-cont.active span:nth-child(2) {
    opacity: 0; 
   
  }
  
  .burger-cont.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-40deg);
   } */