
.schedule-cont{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 99%;
  margin: 10px auto; /* Supaya tetap di tengah */
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box; 
    
}
.schedule-card-cont{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.title-schedule{
  font-size: x-large;
  font-weight: 700;
}
.chart-cont{
  display: flex;
 /* Menyatukan chart di tengah */
  align-items: center;
  margin: 10px auto;
  width: 99%;
  flex-wrap: wrap; /* Agar tetap responsif jika layarnya kecil */
  gap: 20px; /* Kurangi jarak antar chart */
}
.chart1-cont,
.chart2-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px; /* Maksimal lebar */
  height: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;

}

  
