
.LoginContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.LoginBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.CardContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 81%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 20px 20px 7px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.CardWraperLeft {
  position: relative;
  width: 45%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LoginBackgroundCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
  z-index: 0;
}

.logoBg {
  width: 120px;
  height: auto;
  position: relative; /* agar z-index bisa bekerja */
  z-index: 1;
}

.logoBg-rightCard{
  width: 100px;
  height: auto;
  position: relative; /* agar z-index bisa bekerja */
  z-index: 1;
  display: none;
}

.welcome-text {
  z-index: 1;
  position: relative;
  text-align: center;
}

.welcome-text h2 {
  font-size: 24px;
  margin: 10px 0;
}

.welcome-text p {
  font-size: 16px;
  color: #001e81;
}

.CardWraperRight {
  width: 55%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}


.CardHeader {
  text-align: center;
  margin-bottom: 20px;
}

.Login-Text {
  color: rgb(7, 14, 217);
  font-size: 32px;
}

.CardBody {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.InputLogin {
  width: 100%;
}

.InputLogin label {
  display: block;
  margin-bottom: 5px;
}

.InputLogin input {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  box-sizing: border-box;
  outline-color: rgb(84, 92, 242);
}
.InputLogin select {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  box-sizing: border-box;
  outline-color: rgb(84, 92, 242);
}

.Login-label {
  color: rgb(64, 61, 240);
}

.ButtonLogin {
  padding: 10px;
  background-color: black;
  color: rgb(47, 82, 255);
  width: 100%;
  height: 45px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.ButtonLogin:hover {
  background-color: rgb(5, 1, 72);
  color: rgb(224, 224, 224);
}

.buttonDisable {
  background-color: rgb(50, 50, 50) !important;
  color: rgb(190, 190, 190) !important;
}

.CardBody p {
  text-align: center;
  margin-top: 15px;
}

.CardBody a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.error {
  border-color: red !important;
  outline-color: red;
}

.error-massage {
  color: rgb(255, 90, 90);
  font-size: larger;
}

/* regist diff */
.CardContainerRegist {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 90%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 20px 20px 7px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.inputRergistWarp{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

@media screen and (max-width: 700px) {
  .CardContainer{
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 95%;
  }
 .CardWraperLeft{
    display: none;
 }
 .CardWraperRight{
    width: 100%;
    padding: 20px 15px;
 }
.logoBg-rightCard{
  
  display: inline;
}
.Login-Text{
  margin-top: 0px;
}


/* regist diff */
.CardContainerRegist {
  height: 95%;
}


}

@media screen and (max-width: 550px),screen and (max-height: 500px)  {
  .CardWraperLeft{
    display: none; 
 }
  .LoginBackground{
  display: none; 
} 

.CardContainer {
  height: 100%;
  width: 100%;
  border-radius: 0%;
  justify-content: center;
  box-shadow: none;
  overflow: auto;
}

.CardContainerRegist {
  height: 100%;
  width: 100%;
  border-radius: 0%;
  justify-content: center;  
  box-shadow: none;
  overflow: auto;
}

.textBottomRegist{
  margin-bottom: 20px !important;
}

  /* .LoginContainer{
  overflow: none;
  background-color: #5375e5;
  padding: 100px 0px;
} */

.CardWraperRight{
justify-content: start;
}

/* regist diff */
 /* .CardContainerRegist{
  height: max-content;
  }
  */

  .inputRergistWarp{
  flex-direction: column;
} 
}

@media screen and (max-height: 560px)  {
  .CardContainer{
    align-items: start;
  }
}