.schedule-card-container{  
    min-height: 256px;
    min-height: 330px;
    max-width: 300px;

    background-color: #6393B0;
    margin: 0 12px;
    border-radius:  3px;
}
.schedule-card-container span{  
    color: aliceblue;
    margin-bottom: 1px;
}

.title-card-schedule{
    font-weight: 700;
    font-size: larger;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    position: relative;
}

.labelCard{
    width: fit-content;
    position: absolute;
    font-size: 15px;
    top: 1px;
    right: 1px;
    font-style: italic;
    border-radius: 4px;
    margin-right: 2px;
    margin-top: 1px;
    padding: 2px;
    background-color: #e11d1d;
    
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.border-bottom{
    border-bottom: 2px solid aliceblue;
    width: 100%;
}

.btn-schedule{
    margin: 10px 0;
    background-color: aliceblue;
    border-radius: 3px;
    padding: 7px 20px;
    border: none;
    cursor: pointer;
}

.button-wrapper {
    margin-top: auto; /* Dorong button ke bawah */
  }