.user-management-container{
    padding: 20px;
    box-sizing: border-box;
}

.lo-bg-usermanagemnt{
    height: 300px;
    background-color: aliceblue;
}
.title-table-user{
    font-size: x-large;
    font-weight: 700;
    color: rgb(95, 95, 238);
}

.error-message{
    visibility: hidden;
    text-align: center;
}
.error-message.active{
    visibility: visible;
    color: red;
}

  @media (max-width: 480px) {
    .haeder-usermanajemen{
        flex-direction: column;
       gap: 10px;
  }
}